.album{
    display: flex;
    align-content: space-around;
    flex-direction: column;
    width: 200px;
    height: 270px;
    padding: 10px;
    margin: 5px;
    border: #2CBBBB solid;
}

.poster{
    width: 200px;
    height: 200px;
    background: url("/images/music-plate.png") no-repeat top;
    background-size: 100%;
}

.add-new{
    background: url("/images/add-new.png") no-repeat top;
    background-size: 100%;
}

.album:hover{
    cursor:pointer;
    border-color: #4CAF50;
}