
.comment{
    display: flex;
    flex-direction: column;
    list-style: none;
    overflow: auto;
    padding: 10px 20px;
    background-color: #fff;
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    margin-bottom: 20px;
    margin-right: 20px;
    min-width: 800px;
}

.author-info{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
}

.author-info p{
    margin-top: 20px;
    margin-left: 5px;
}