
.form-style{
    font-family: 'Open Sans Condensed', arial, sans, serif;
    width: 600px;
    background: #FFFFFF;
    margin: 50px auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow:  0 0 15px rgba(0, 0, 0, 0.22);

}

.form-style form{
    padding: 30px;
}

.form-style h2{
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #848484;
    font-size: 18px;
    font-weight: 100;
}

.form-style input[type="text"],
.form-style input[type="date"],
.form-style input[type="datetime"],
.form-style input[type="email"],
.form-style input[type="number"],
.form-style input[type="search"],
.form-style input[type="time"],
.form-style input[type="url"],
.form-style input[type="password"],
.form-style textarea,
.form-style select
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px;
}
.form-style textarea{
    resize:none;
    overflow: auto;
    height: 125px;
}
.form-style input[type="button"],
.form-style .button,
.form-style input[type="submit"]{
    -moz-box-shadow: inset 0 1px 0 0 #45D6D6;
    -webkit-box-shadow: inset 0 1px 0 0 #45D6D6;
    box-shadow: inset 0 1px 0 0 #45D6D6;
    background-color: #2CBBBB;
    border: 1px solid #27A0A0;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    padding: 8px 18px;
    text-decoration: none;
    text-transform: uppercase;
    width: 160px;
    text-align: center;
}

.form-style .button:hover,
.form-style input[type="button"]:hover,
.form-style input[type="submit"]:hover {
    background: #34CACA linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
}

.form-style .fhead{
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-flow: wrap;
    background: #4D4D4D;
    padding: 10px 20px;
}

.form-style .buttons{
    display: flex;
    justify-content:space-around;
    flex-flow: wrap;
}

.inline-label{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .5rem;
}

.inline-label input[type="text"]{
    text-align: center;
    margin: 0 5px;
    width: 20%;
}

.discount{
    width: 400px;
}

@media screen and (max-width: 660px) {
    .form-style .wide{
        width: 100%;
        margin: 0;
        padding:0;
    }
}

