.empty-order {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.empty-order a {
    font-size: 20px;
    padding: 14px 20px;
    text-align: center;
    text-decoration: none;
    color: black;
    border: 1px solid teal;
}

.empty-order a:hover {
    opacity: .65;
    border-color: #4CAF50;
}

.empty-order-img {
    background: url("/images/empty-order.png") no-repeat center;
    background-size: contain, cover;
    height: 300px;
    margin-top: 10px;
    display: block;
}