.view-header {
    min-height: 200px;
    margin-bottom: 30px;
    width: 900px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.view-info {
    display: flex;
    width: 350px;
    flex-direction: column;
    padding: 10px;
}

.view-info span {
    font-size: 20px;
    color: #4d4d4c;
}

.view-header .buttons {
    display: flex;
    flex-direction: column;
    justify-content: inherit;
}